/*Background */
#pane {
    -fx-background-image: url(../images/Background2.jpg);
    -fx-background-position: center;
    -fx-background-size: cover;
}

/*Buttons - Fields */
#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#btn7,#btn8,#btn9 {
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.6;
}

/*Player text */
#lblPlayer{
    -fx-text-fill: #FFFFFF;
}